{% extends "base.html" %}

{% block content %}
  <style>
    #search-bar {
      display: flex;
      margin: 20px 10px;
    }

    #search-bar input {
      width: 100%;
      padding: 10px;
    }

    #search-bar button {
      margin-left: 15px;
    }

    .bulk-results {
      display: flex;
      flex-wrap: wrap;
    }

    .search {
      margin: 0px 10px 20px 10px;
      padding: 20px;
      background: #fafaff;
    }

    .search-header {
      height: 40px;
    }

    .search-term {
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }

    .search-results {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      grid-auto-rows: 150px;
      grid-gap: 20px;
    }

    .recipe {
      display: block;
      color: #333;
      text-decoration: none;
      max-width: 45%;
      display: inline-block;
      vertical-align: top;
      font-family: Open Sans;
      padding: 20px;
    }

    .recipe-image {
      max-width: 100px;
      max-height: 100px;
      margin-bottom: 10px;
    }

    .recipe-info {
      height: 54px;
      overflow: hidden;
    }

    .recipe-name {
      font-size: 10px;
      margin-right: 10px;
    }
  </style>


  <!--
  <form id="search-bar" action="/search">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search">Recipes</i></button>
  </form>
  -->

  <div>
    {% for recipe in recipes %}
    <div class="recipe">

      <div>
        <h2>
        <a href={{ recipe.url }} target="_blank">
          {{ recipe.name }}
        </a>
        </h2>
        <div><b>Category: </b> {{ recipe.category }}</div>
      </div>

      <div>
        <h3>Ingredients</h3>
        {% for ingredient in recipe.ingredients %}
        <div>{{ ingredient }}</div>
        {% endfor %}
      </div>

      <div>
        <h3>Instructions</h3>
        {% for instruction in recipe.instructions %}
        <div>{{ instruction }}</div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
