<style>
  .container {
    padding: 40px;
  }
</style>
<html>
    <head>
      <title>Recipes</title>
    </head>
    <body>
        <hr>
        <div class="container">

  <style>
    #search-bar {
      display: flex;
      margin: 20px 10px;
    }

    #search-bar input {
      width: 100%;
      padding: 10px;
    }

    #search-bar button {
      margin-left: 15px;
    }

    .bulk-results {
      display: flex;
      flex-wrap: wrap;
    }

    .search {
      margin: 0px 10px 20px 10px;
      padding: 20px;
      background: #fafaff;
    }

    .search-header {
      height: 40px;
    }

    .search-term {
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }

    .search-results {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      grid-auto-rows: 150px;
      grid-gap: 20px;
    }

    .recipe {
      display: block;
      color: #333;
      text-decoration: none;
      max-width: 45%;
      display: inline-block;
      vertical-align: top;
      font-family: Open Sans;
      padding: 20px;
    }

    .recipe-image {
      max-width: 100px;
      max-height: 100px;
      margin-bottom: 10px;
    }

    .recipe-info {
      height: 54px;
      overflow: hidden;
    }

    .recipe-name {
      font-size: 10px;
      margin-right: 10px;
    }
  </style>


  <!--
  <form id="search-bar" action="/search">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search">Recipes</i></button>
  </form>
  -->

  <div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2017/01/16/turkey-ranch-club-mason-jar-salad/ target="_blank">
          Turkey Ranch Club Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth (32-ounce) mason jars</div>

        <div>10 tablespoons ranch yogurt dressing</div>

        <div>1 quart cherry tomatoes, sliced in half</div>

        <div>½ pound smoked sliced turkey, chopped</div>

        <div>1¼ cups shredded sharp cheddar cheese</div>

        <div>5 slices of bacon, cooked crisp and crumbled</div>

        <div>5 cups romaine</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide all the ingredients among the 5 mason jar containers. Start with the dressing then layer the tomatoes, turkey, shredded cheddar, bacon and finish with romaine. Store in the refrigerator up to 5 days.</div>

        <div>2. When ready to eat shake the mason jar and dump into a bowl or on a plate.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2016/01/08/lightened-up-cheeseburger-salad/ target="_blank">
          Lightened Up Cheeseburger Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>1 tablespoon olive oil</div>

        <div>1 lb ground turkey</div>

        <div>2 tablespoons Worcestershire sauce</div>

        <div>1 teaspoon granulated garlic</div>

        <div>1 teaspoon onion powder</div>

        <div>¼ teaspoon salt</div>

        <div>¼ teaspoon pepper</div>

        <div>1 tablespoon ketchup</div>

        <div>1 tablespoon mustard</div>

        <div>2 tablespoons grated parmesan cheese</div>

        <div>10 cups chopped romaine</div>

        <div>2 cups cherry tomatoes, sliced or left whole</div>

        <div>2 cups sliced baby cucumber</div>

        <div>5 dill pickle spears, chopped</div>

        <div>10 tablespoons thousand island yogurt dressing</div>

        <div>10 tablespoons shredded sharp cheddar cheese</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. In a medium skillet heat olive oil over medium heat until it’s hot. Add the ground turkey, cook for 5 -7 minutes, or until it is almost cooked through and just a little pink. You want to break the ground turkey into small pieces as it cooks.</div>

        <div>2. Stir in the Worcestershire sauce, granulated garic, onion powder, salt, pepper, ketchup, mustard, and parmesan cheese into the ground turkey. Continue cooking until it is no longer pink. Remove from heat.</div>

        <div>3. If you are going to prepare mason jar salads I recommend letting the ground turkey cool in the refrigerator before you layer the salads. Putting the turkey into the mason jar salads hot will cause the lettuce to wilt. Layer the salads by starting with the dressing and then layer in the tomatoes, cucumbers, pickles, ground turkey, shredded cheese, and finish with the romaine.</div>

        <div>4. If you are going to eat the salad immediately then prepare each one by tossing the romaine, tomatoes, cucumbers, pickles, dressing, and cheese together. Drizzle with dressing. Each salad gets about ¼ – ⅓ cup ground turkey, 2 cups romaine, ⅓ or some tomatoes, ⅓ or so cucumbers, 1 pickle, 2 tablespoons dressing, and 2 tablespoons shredded cheese.</div>

        <div>5. Or you can store the ground turkey and the rest of the ingredients in the refrigerator separately to eat later in the week.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2015/12/17/southwest-chicken-mason-jar-salad/ target="_blank">
          Southwest Ranch Chicken Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth mason jars</div>

        <div>1 lb skinless boneless chicken breast</div>

        <div>½ (1.3 ounce) packet Simply Organic Southwest Taco Seasoning Mix</div>

        <div>10 tablespoons Southwest Ranch Yogurt Dressing</div>

        <div>1 quart grape tomatoes</div>

        <div>3 bell peppers (any color)</div>

        <div>½ red onion, chopped</div>

        <div>½ cup canned black beans, drained</div>

        <div>1 avocado, skinned and chopped</div>

        <div>fresh lime juice</div>

        <div>3 jalapeño cheese sticked, chopped</div>

        <div>5 ounces chopped romaine</div>

        <div>tortilla chips</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Preheat oven to 350 degrees</div>

        <div>2. Sprinkle taco seasoning over the chicken breasts. Bake for 40 -45 minutes or until the chicken is cook throughly and juices run clear. Set aside to cool. Once the chicken is cooled chop it into chunks.</div>

        <div>3. Divide ingredients evenly among the mason jars. Start with the dressing and then add the tomatoes, bell peppers, onions, avocado (squirt with lime juice first), black beans, chicken, cheese, and end with the romaine. Put the lid on and store in the refrigerator for up to 5 days.</div>

        <div>4. Serve with crushed tortillas.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2016/01/12/7-minute-quinoa-power-salad/ target="_blank">
          7-minute Quinoa Power Bowl
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>½ cup cooked quinoa</div>

        <div>1 cup chopped kale</div>

        <div>¼ cup canned garbanzo beans</div>

        <div>10 cherry tomatoes</div>

        <div>¼ cup sliced cucumbers</div>

        <div>¼ cup chopped red onion</div>

        <div>1 avocado, chopped</div>

        <div>2 tablespoons cup chopped walnuts</div>

        <div>2 tablespoons Newmans Own Balsamic Vinegar Dressing</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Mix all of the ingredients into a bowl and serve.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2018/04/25/mason-jar-salad-greens-ancient-grains-copycat-corelife-recipe/ target="_blank">
          Mason Jar Salad: Greens &amp; Ancient Grains (Copycat CoreLife Recipe)
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 (32-ounce) mason jars</div>

        <div>10 tablespoons light balsamic vinaigrette dressing</div>

        <div>1 quart grape tomatoes</div>

        <div>5 mini cucumbers, thickly sliced</div>

        <div>2 cups broccoli florets, chopped</div>

        <div>½ red onion, chopped</div>

        <div>1 can chickpeas, drained</div>

        <div>1¼ cup cooked quinoa</div>

        <div>10 tablespoons shredded cheddar</div>

        <div>5 cups arugula</div>

        <div>5 cups super greens</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide all the ingredients among the mason jars. Start with the dressing and continue with tomatoes, cucumbers, broccoli, onion, chickpeas, quinoa, cheddar, and finishing with greens and arugula. Place lid tightly on.</div>

        <div>2. When ready to eat, shake the jar and dump onto a plate. Enjoy,</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2016/07/02/mexican-quinoa-salad-with-chili-lime-dressing-recipe/ target="_blank">
          Mexican Quinoa Salad with Chili Lime Dressing
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>2 cups cooked quinoa</div>

        <div>1 (15-ounce) black beans, drained</div>

        <div>1 jalapeño pepper, seeded and chopped</div>

        <div>½ red onion, diced</div>

        <div>2 cups cherry tomatoes, halved</div>

        <div>4 baby cucumbers, sliced</div>

        <div>1 avocado, pitted, removed from skin, and chopped **this can be added after the salad has chilled.</div>

        <div>¼ cup extra virgin olive oil</div>

        <div>juice of 2 limes</div>

        <div>1 garlic clove, grated</div>

        <div>½ teaspoon chili powder</div>

        <div>¼ teaspoon cumin</div>

        <div>¼ teaspoon salt</div>

        <div>¼ teaspoon pepper</div>

        <div>1 tablespoon honey</div>

        <div>extra salt and lime.</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. In a large bowl mix together quinoa, black beans, jalapeño pepper, red onion, cherry tomatoes, cucumbers, and avocado. Set aside.</div>

        <div>2. In a small jar combine olive oil, garlic, lime juice, chili powder, cumin, salt, pepper, and honey. Put lid on the jar and shake.</div>

        <div>3. Pour dressing over the top of the salad and mix together until all ingredients are coated. Refrigerate for 2-3 hours. **If you are worried about the avocado turning brown then wait till this step to add it into the salad.</div>

        <div>4. Squirt more lime juice over top (about half a lime) and sprinkle about ¼ - ½ teaspoon salt over top. Taste about ¼ teaspoon and then add more if needed. Mix together again and serve.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2016/06/07/asian-pasta-salad/ target="_blank">
          Asian Pasta Salad #Healthiersideofmayo
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>1 box (12 oz.) gluten-free spaghetti, broken in half</div>

        <div>¾ cup Hellmann’s® or Best Foods® Carefully Crafted Dressing and Sandwich Spread</div>

        <div>2 Tbsp. gluten-free soy sauce</div>

        <div>2 Tbsp. rice wine vinegar</div>

        <div>2 tsp. toasted sesame oil</div>

        <div>3 cups thinly sliced Napa cabbage</div>

        <div>1 cup shredded carrots</div>

        <div>½ cup chopped fresh cilantro</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Cook spaghetti according to package directions; drain and rinse with cold water until completely cool.</div>

        <div>2. Combine Hellmann’s® or Best Foods® Carefully Crafted Dressing and Sandwich Spread, soy sauce, vinegar and sesame oil in large bowl. Gently stir in spaghetti and remaining ingredients. Cover and refrigerate at least 1 hour.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2016/01/22/chicken-caesar-salad-with-kale-and-qunioa/ target="_blank">
          Chicken Caesar Mason Jar Salad with Kale and Quinoa
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth mason jar containers</div>

        <div>10 tablespoons Newman’s Own Caesar Dressing (I use creamy)</div>

        <div>1-quart cherry tomatoes, sliced or kept whole</div>

        <div>5 baby cucumbers, sliced</div>

        <div>1 ¼ cup diced baked chicken breast</div>

        <div>5 teaspoon parmesan cheese</div>

        <div>1¼ cup quinoa</div>

        <div>5 cups chopped kale</div>

        <div>5 cups chopped romaine</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide all the ingredients among the 5 mason jar containers. Start with the dressing then layer the tomatoes, cucumbers, chicken, parmesan cheese, quinoa, and finish with the kale and romaine lettuce. Store in the refrigerator for up to 5 days.</div>

        <div>2. When you are ready to eat shake the mason jar and dump into a bowl or on a plate.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2018/07/03/mason-jar-salad-protein-power/ target="_blank">
          Protein Power Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 mason jars (preferably wide-mouth)</div>

        <div>5 tablespoons Newmans Own Olive Oil and Vinegar Dressing</div>

        <div>1 quart grape tomatoes, halved</div>

        <div>2 large cucumbers, chopped</div>

        <div>½ red onion, chopped</div>

        <div>1 (15-ounce can) chickpeas, drained and rinsed</div>

        <div>1¼ cup cooked quinoa</div>

        <div>10 tablespoons crumbled feta cheese</div>

        <div>5 hard-boiled eggs, chopped</div>

        <div>5 cups super greens</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide all the ingredients among the mason jars. Start with the dressing and continue with tomatoes, cucumbers, onion, chickpeas, quinoa, feta, eggs and finishing with greens. Place lid tightly on.</div>

        <div>2. When ready to eat, shake the jar and dump onto a plate. Enjoy,</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2015/09/02/kale-chicken-caesar-salad-with-garlic-pita-toasts/ target="_blank">
          Kale &amp; Chicken Caesar Salad with Garlic Pita Toasts
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>2lbs boneless skinless chicken breasts</div>

        <div>salt</div>

        <div>pepper</div>

        <div>Granulated garlic</div>

        <div>2 whole-wheat pitas</div>

        <div>2 tablespoons of olive oil</div>

        <div>1 clove garlic, chopped</div>

        <div>3 cups chopped kale</div>

        <div>3 cups chopped romaine</div>

        <div>Shredded Parmesan cheese</div>

        <div>Caesar Yogurt Salad Dressing</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Preheat oven to 350.</div>

        <div>2. Sprinkle chicken breasts with a little salt, pepper, and granulated garlic. Bake for 45 – 50 minutes or until the chicken is cooked through and juices run clear. Let cool and then cut into thin strips. Set aside.</div>

        <div>3. Combine olive oil, chopped garlic, and a dash of salt and pepper. Brush on the pita rounds and bake for 20 minutes. Let cool and then cut into triangles.</div>

        <div>4. Combine the kale and romaine into a bowl.</div>

        <div>5. To make salads take a handful or so of the kale/romaine mixture and combine with a few pieces of sliced chicken, a couple teaspoons of shredded parmesan, 2-3 pita toast triangles, and 2 tablespoons of dressing. Mix together and enjoy. I recommend enjoying with a delicious glass of Barefoot Refresh® Summer Red Spritzer. Yum!</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2015/08/19/chopped-parmesan-ranch-chicken-dorito-salad/ target="_blank">
          Chopped Parmesan Ranch Chicken Dorito Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>2 lbs chicken breast</div>

        <div>1 (1-ounce) package ranch dressing mix</div>

        <div>½ cup grated parmesan cheese</div>

        <div>¼ cup panko bread crumbs</div>

        <div>1 egg</div>

        <div>2 médium romaine hearts</div>

        <div>1 pint cherry tomatoes, halved</div>

        <div>1 green bell pepper, chopped</div>

        <div>1 (15-ounce) can chickpeas, rinsed and drained</div>

        <div>½ of a red onion, chopped</div>

        <div>1 avocado, skin removed and chopped</div>

        <div>1-cup yogurt ranch dressing</div>

        <div>2 tablespoons grated parmesan cheese</div>

        <div>24 ranch doritos, lightly crushed</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Preheat oven to 375 degrees.</div>

        <div>2. In a small bowl mix together ranch dressing mix, parmesan cheese, and panko bread crumbs.</div>

        <div>3. In another small bowl crack and lightly beat the egg.</div>

        <div>4. Dip each of the chicken breasts in the egg then in the ranch and parmesan mixture. Place on a baking sheet coated with cooking spray and bake for 40- 50 minutes or until the chicken is cooked throughly and juices run clear.</div>

        <div>5. Let the chicken cool and then chop into bite size pieces. Set aside.</div>

        <div>6. In a large bowl mix together romaine hearts, cherry tomatoes, bell pepper, chickpeas, red onion, and avocado.</div>

        <div>7. Pour ranch dressing over the top and mix it into the ingredients until everything is coated with the dressing.</div>

        <div>8. Slowly mix in the chicken breast.</div>

        <div>9. Sprinkle grated parmesan and doritos over top and serve.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2015/03/05/quinoa-goat-cheese-arugula-mason-jar-salad/ target="_blank">
          Quinoa, Goat Cheese, &amp; Arugula Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>6 quart size wide mouth glass mason jars</div>

        <div>12 tablespoons light Italian dressing (I use Newmans Own)</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>3 bell peppers (I used red and yellow), seeded and chopped</div>

        <div>½ red onion, chopped</div>

        <div>3 cups cooked quinoa</div>

        <div>6 ounces goat cheese</div>

        <div>¼ cup salted and roasted pumpkin seeds</div>

        <div>3 cups baby arugula</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide all the ingredients among the mason jars. Start with the salad dressing then add tomatoes, pepper, onion, quinoa, goat cheese, pumpkin seeds, and finish with baby arugula. Put the lid on and place salads in the refrigerator.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2015/06/27/simple-delicious-greek-quinoa-salad/ target="_blank">
          Simple &amp; Delicious Greek Quinoa Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>1 cup dry quinoa</div>

        <div>1 ½ chicken broth</div>

        <div>1 pint cherry tomatoes, halved</div>

        <div>⅓ cup pitted greek olives, chopped</div>

        <div>1 large cucumber, chopped</div>

        <div>½ red onion, chopped</div>

        <div>1 (15-ounce) can chickpeas, drained and rinsed</div>

        <div>¾ cup crumbled feta cheese</div>

        <div>½ cup Olive Oil and Vinegar Dressing</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Soak the quinoa in water for about 5 minutes. Then pour through a mesh strainer and rinse under cold water.</div>

        <div>2. Combine the quinoa and chicken broth in a medium sauce pan and bring to a boil. Turn down to low and let it simmer for 10 – 12 minutes or until the quinoa absorbs the liquid. Remove from heat, let cool, and then place in the refrigerator for ½ hour or so until the quinoa is completely cooled.</div>

        <div>3. In a large bowl combine cooled quinoa, tomatoes, cucumber, red onion, chickpeas, feta cheese, and ¼ cup dressing. Stir until all the ingredients are combined and coated with dressing.</div>

        <div>4. Let the salad sit for 2-3 hours or overnight. Stir in the last ¼ cup of dressing and serve.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2014/04/21/mason-jar-salad-farro-feta-and-vegetables/ target="_blank">
          Mason Jar Salad: Farro, Feta, and Vegetables
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth quart size mason jars</div>

        <div>10 tablespoons Newman&#39;s Own Olive Oil and Vinegar Dressing</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>5 mini cucumbers, sliced</div>

        <div>1 medium red onion, chopped</div>

        <div>3 red, yellow, or green peppers, chopped</div>

        <div>1¼ cup cooked and cooled Farro</div>

        <div>10 tablespoons crumbled feta cheese</div>

        <div>5 cups baby arugula</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. In each of the mason jars divide all the ingredients starting with dressing then adding tomatoes, cucumbers, onion, bulgur, feta, and ending with arugula. Close lid tightly. When ready to eat shake and pour into a bowl.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2014/10/14/barbecue-ranch-chicken-mason-jar-salad/ target="_blank">
          Barbecue Ranch Chicken Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth mason jar salads</div>

        <div>10 tablespoons ranch yogurt dressing</div>

        <div>5 tablespoons barbecue sauce</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>5 baby cucumbers, sliced</div>

        <div>1 avocado, peeled, seed removed, and chopped</div>

        <div>5 tablespoons canned black beans</div>

        <div>5 tablespoons frozen corn</div>

        <div>½ red onion, chopped</div>

        <div>3 cups chopped rotisserie chicken</div>

        <div>4-5 cups chopped romaine</div>

        <div>9 tortilla chips</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide all ingredients among mason jars. Start with ranch dressing and barbecue sauce then layer tomatoes, cucumbers, avocado, beans, corn, onion, chicken and end with romaine. Store in the refrigerator for up to 5-6 days. Pack tortilla chips on the side.</div>

        <div>2. When ready to eat shake mason jar and pour onto a plate.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2015/06/24/antipasto-mason-jar-salad/ target="_blank">
          Antipasto Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 quart size wide mouth mason jars</div>

        <div>7.5 tablespoons Olive Oil and Vinegar Dressing (I use Newmans Own)</div>

        <div>1 quart cherry tomatoes (about 10 tomatoes per jar), sliced in half</div>

        <div>1 (14-ounce) can artichoke hearts, drained and chopped</div>

        <div>3 jarred roasted red peppers, chopped</div>

        <div>15 pepperoncini, stems cut off</div>

        <div>5 thin slices of each (salami, sandwich pepperoni, turkey, ham, provolone cheese)</div>

        <div>3 cups arugula</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide and layer the ingredients among the mason jars. Start with the dressing (1 ½ tablespoons per jar) then continue with cherry tomatoes, artichokes, roasted red peppers, pepperoncini, meat and cheese, and finish with the arugula.</div>

        <div>2. When you are ready to eat the salad just give the jar a shake and then pour it into a bowl.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2014/03/26/mason-jar-salad-recipe-smoked-turkey-with-raspberry-vinaigrette-crumbled-blue-and-walnuts/ target="_blank">
          Mason Jar Salad Recipe: Smoked Turkey With Raspberry Vinaigrette, Crumbled Blue, and Walnuts
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 (1 quart) wide mouth mason jar glass containers</div>

        <div>10 tablespoons Newmans Own Lite Raspberry Vinaigrette dressing</div>

        <div>1 quart cherry tomatoes, sliced</div>

        <div>5 baby cucumbers, sliced</div>

        <div>10 ounces thinly sliced smoked deli turkey breast</div>

        <div>5 hard-boiled eggs, peeled and sliced</div>

        <div>5 tablespoons crumbled blue cheese</div>

        <div>5 tablespoons chopped raw walnuts</div>

        <div>5 cups spring mix and spinach melody</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide ingredients up between mason jar containers. Start with dressing. Then add tomatoes, cucumbers, turkey, egg, cheese, and greens.</div>

        <div>2. When ready to eat shake then pour into a bowl and enjoy.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2014/11/06/turkey-sun-dried-tomatoes-chickpea-mason-jar-salad/ target="_blank">
          Turkey, Sun-dried Tomatoes, &amp; Chickpea Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth mason jar salads</div>

        <div>10 tablespoons balsamic vinegar dressing (I use Newman&#39;s Own)</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>5 baby cucumbers, sliced</div>

        <div>15 pieces sun-dried tomatoes, chopped</div>

        <div>1 {15 ounce} container of chickpeas, drained and rinsed</div>

        <div>5 tablespoons crumbled blue cheese</div>

        <div>½ pound sliced smoked turkey breast, chopped</div>

        <div>5 cups chopped romaine lettuce</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide ingredients among the 5 mason jars. Start with balsamic vinegar dressing. Then add tomatoes, cucumbers, sun-dried tomatoes, chickpeas, crumbled blue cheese, turkey, and top with romaine lettuce.</div>

        <div>2. When ready to eat shake jar and pour onto a plate.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2014/11/19/beef-and-cheddar-mason-jar-salad/ target="_blank">
          Beef and Cheddar Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth glass mason jar quart size containers</div>

        <div>10 tablespoons thousand island yogurt dressing</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>5 baby cucumbers, sliced and halved</div>

        <div>½ spanish onion, diced</div>

        <div>5 single serving packets of cheddar cheese, chopped into cubes</div>

        <div>½ pound thinly sliced roast beef, chopped up</div>

        <div>3 cups spinach/arugula blend</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide and layer ingredients among the mason jars. Start with dressing then layer tomato, cucumbers, onion, cheese, roast beef, and ending with spinach/arugula. Place lid tightly on.</div>

        <div>2. When ready to eat give the jar a good shake and pour into a bowl.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2015/05/20/healthy-turkey-club-pasta-salad/ target="_blank">
          Turkey Club Pasta Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>1½ cups of plain greek yogurt</div>

        <div>¼ cup mayonnaise</div>

        <div>1 tablespoon dried parsley</div>

        <div>1 teaspoon granulated garlic</div>

        <div>1 ½ teaspoons onion powder</div>

        <div>¼ teaspoon dill weed</div>

        <div>½ teaspoon salt</div>

        <div>½ teaspoon black pepper</div>

        <div>2-3 tablespoons 1% milk</div>

        <div>1 lb Barilla® Penne Pasta</div>

        <div>½ lb bacon, cooked and crumbled</div>

        <div>1 pint cherry tomatoes, halved</div>

        <div>¼ cup sliced scallions, white parts and some of the green</div>

        <div>½ pound deli turkey, sliced on the thicker side and cut into small chunks</div>

        <div>3 cups shredded romaine hearts</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. In a small bowl mix together the greek yogurt, mayonnaise, parsley, granulated garlic, onion powder, dill weed, salt, pepper, and milk. Cover and refrigerate for at least an hour.</div>

        <div>2. Cook pasta according to package instructions and set aside for a few minutes to cool.</div>

        <div>3. Once the pasta is cooled place into a large bowl with bacon, tomatoes, scallions, turkey, and romaine. Toss together.</div>

        <div>4. Pour dressing over top and mix together until all of the ingredients are coated with the dressing.</div>

        <div>5. Serve cold.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2014/02/13/buffalo-chicken-mason-jar-salad/ target="_blank">
          Buffalo Chicken Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth quart size mason jar salads</div>

        <div>10 tablespoons blue cheese yogurt dressing</div>

        <div>10 teaspoons hot sauce (preferably Frank&#39;s hot sauce)</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>1 red onion, chopped</div>

        <div>5 large carrots, halved and chopped</div>

        <div>5 large celery stalks, halved and chopped</div>

        <div>3-4 cups shredded chicken</div>

        <div>5 cups chopped romaine lettuce</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide ingredients among mason jars starting with dressing then following with hot sauce, tomatoes, onion, carrots, celery, chicken, and ending with romaine.</div>

        <div>2. When ready to eat shake salad in jar then pour into a bowl.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2014/01/25/chopped-cobb-mason-jar-salad/ target="_blank">
          Chopped Cobb Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth quart size mason jars</div>

        <div>10 tablespoons yogurt blue cheese dressing</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>5 mini cucumbers, sliced</div>

        <div>1 small to medium red onion, chopped</div>

        <div>5 hard-boiled eggs, chopped or sliced</div>

        <div>2 avocados, chopped</div>

        <div>5 slices cooked crispy bacon, crumbled</div>

        <div>5 slices, thinly sliced turkey, cut into pieces</div>

        <div>5 slices, thinly sliced ham, cut into pieces</div>

        <div>5 cups chopped romaine lettuce</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide ingredients among mason jars. Start with dressing then add tomatoes, cucumbers, onion, egg, avocado, bacon, turkey, ham, and ending with romaine. When ready to eat, shake, then pour into a bowl.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2014/02/24/veggie-goat-cheese-and-chicken-mason-jar-salad/ target="_blank">
          Veggie, Goat Cheese, and Chicken Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth quart size mason jar salads</div>

        <div>10 tablespoons of olive oil and vinegar dressing (I use Newman&#39;s Own)</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>5 bell peppers, seeded and chopped</div>

        <div>1 red onions, chopped</div>

        <div>1 ¼ cup cooked whole grain spiral pasta</div>

        <div>5 ounces crumbled goat cheese</div>

        <div>1 ¼ cup shredded rotisserie chicken</div>

        <div>10 ounce package of arugula</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide all ingredients between mason jars. Start with dressing then add tomatoes, peppers, onions, pasta, goat cheese, chicken, and end with arugula.</div>

        <div>2. To eat shake in jar then pour into a bowl.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2014/01/25/chopped-taco-mason-jar-salad/ target="_blank">
          Chopped Taco Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth quart size mason jars</div>

        <div>1 lb ground turkey</div>

        <div>1 can black beans, drained</div>

        <div>1 packet taco seasoning (I use simply organic)</div>

        <div>1¼ cups salsa</div>

        <div>5 tablespoons plain Greek yogurt</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>5 mini cucumbers, sliced</div>

        <div>1 small to medium red onion, chopped</div>

        <div>2 avocados, chopped</div>

        <div>juice from half of a lime</div>

        <div>11 ounce jar pickled jalapeños, drained and chopped</div>

        <div>5 cups chopped romain lettuce</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. in a medium pan cook ground turkey until no longer pink. Add black beans, seasoning packet, and the amount of water stated in seasoning packet directions. Let taco mixture cool.</div>

        <div>2. Divide ingredients among mason jars starting with salsa then adding greek yogurt, tomatoes, cucumbers, onions, jalapeños, avocados, taco meat, then lettuce. Place lid on and close tight. No need to vacuum seal or anything like that.</div>

        <div>3. When ready to eat, shake real good, then pour into a bowl and enjoy. Can serve with tortilla chips.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2013/09/14/artichoke-and-tortellini-mason-jar-salad/ target="_blank">
          Artichoke and Tortellini Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 quart size wide mouth mason jars</div>

        <div>10 tablespoons Italian dressing (I used Newmans Own Family Recipe Italian)</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>1 red onion, chopped</div>

        <div>2 cans quartered artichoke hearts, cut in half</div>

        <div>4 ounces dried cheese filled tortellini; cooked according to package directions (I bought the 8 ounce bag of Barilla brand cheese filled tortellini and only used half)</div>

        <div>5 ounces goat cheese</div>

        <div>5 cups bagged spinach/arugula blend salad</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Layer each mason jar with the ingredients starting with dressing then adding tomatoes, onion, artichokes, tortellini, goat cheese, and finishing with arugula/spinach blend.</div>

        <div>2. When ready to eat give the salad a shake and pour into a bowl.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2013/05/10/farro-salad-with-arugula-and-feta/ target="_blank">
          Farro Salad with Arugula and Feta
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>¼ cup extra virgin olive oil</div>

        <div>2 garlic cloves, grated or finely minced</div>

        <div>2 teaspoons lemon juice</div>

        <div>Pinch salt and pepper</div>

        <div>1 cup farro (pearled or whole grain)</div>

        <div>2 cups chicken broth (you can also use vegetable broth)</div>

        <div>2 cups arugula</div>

        <div>1 cup crumbled feta cheese</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. In a small container mix together olive oil, garlic, lemon juice, salt, and pepper. Set aside.</div>

        <div>2. In medium saucepan combine farro and chicken broth, bring to a boil. Reduce to simmer and let cook for 20 – 25 minutes or until it gets to the texture you like. Again, for a firmer texture use less liquid and for a softer texture use more liquid. **Special note. If you use whole grain farro you will need to cook it about 10 -15 minutes longer. Remove from heat.</div>

        <div>3. Stir in olive oil mixture then add arugula. Once arugula is wilted stir in feta cheese. Stir until all ingredients are combined and evenly distributed. Give it a taste and add more salt and pepper if needed. Can be served warm or cold.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2013/09/19/chopped-broccoli-ham-and-swiss-mason-jar-salad/ target="_blank">
          Chopped Broccoli, Ham, and Swiss Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth quart size mason jars</div>

        <div>15 tablespoons yogurt coleslaw dressing</div>

        <div>3 large red bell peppers, chopped</div>

        <div>3 broccoli crowns, chopped small</div>

        <div>½ pound thick sliced organic deli ham, chopped</div>

        <div>6 ounces dry spiral whole grain pasta, cooked and cooled</div>

        <div>5 ounces block swiss cheese, chopped</div>

        <div>5 tablespoons pumpkin seeds</div>

        <div>5 cups spinach, arugula, radicchio salad blend</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Pour 3 tablespoons of salad dressing into each of the mason jars. Then layer ingredients into the jar starting with peppers then following with broccoli, ham, pasta, cheese, pumpkin seeds, and finishing with salad blend.</div>

        <div>2. To eat pour salad into a bowl and mix all ingredients together until evenly coated with salad dressing.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2013/08/22/chopped-black-bean-and-corn-mason-jar-salad/ target="_blank">
          Chopped Black Bean and Corn Mason Jar Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 wide mouth quart size mason jar salads</div>

        <div>1 ¼ cup salsa</div>

        <div>1 6 ounce container plain greek yogurt</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>1 red onion, chopped</div>

        <div>2 cans black beans, drained and rinsed</div>

        <div>1 12 ounce package frozen corn, thawed</div>

        <div>2 avocados, peeled and chopped</div>

        <div>5 ounce block pepper jack cheese, cut into small cubes</div>

        <div>4-5 cups chopped romaine lettuce</div>

        <div>¼ cup or more chopped cilantro (optional)</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. In each of the mason jars pour ¼ cup of salsa. Then divide the greek yogurt evenly among the jars. This will equal about 1 ½ tablespoons of greek yogurt per jar. Next divide and layer the rest of the ingredients evenly between the 5 mason jars starting with tomatoes then following with onions, black beans, corn, avocado, cheese, and ending with romaine and cilantro. When ready to eat pour into a bowl, mix together, and enjoy!</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2014/01/10/greek-chicken-mason-jar-salad/ target="_blank">
          Mason Jar Greek Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>5 quart size wide mouth mason jars</div>

        <div>10 tablespoons Newmans Own Olive Oil and Vinegar Dressing</div>

        <div>1 quart cherry tomatoes, halved</div>

        <div>5 mini cucumbers, sliced</div>

        <div>1 cup pitted greek olives, sliced or chopped</div>

        <div>¾ cup crumbled feta cheese</div>

        <div>2 cups chopped or shredded rotisserie chicken</div>

        <div>5 cups chopped romaine lettuce</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide and layer all ingredients into mason jars. Start with salad dressing, then tomatoes, cucumbers, olives, cheese, chicken, and end with lettuce. Put mason jar top on and store in refrigerator.</div>

        <div>2. When ready to eat pour into a bowl and serve.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2014/03/20/mason-jar-salad-chopped-turkey-and-roasted-red-peppers/ target="_blank">
          Mason Jar Salad: Chopped Turkey and Roasted Red Peppers
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>3 tsp. balsamic vinegar</div>

        <div>3 T. plain nonfat Greek yogurt</div>

        <div>roasted red peppers (I roasted one whole red bell pepper and chopped it up for the 3 salads.)</div>

        <div>12 cherry tomatoes, cut in half</div>

        <div>18 slices cucumber, cut in half</div>

        <div>¾ cup perlini fresh mozzarella balls</div>

        <div>9 slices chopped deli turkey</div>

        <div>3 cups romaine lettuce</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide the ingredients equally three ways, and assemble the ingredients in the bottom of each quart mason jar in this order: balsamic vinegar, yogurt, red peppers, tomatoes, cucumbers, mozzarella, turkey, and lettuce. Put the lid on and refrigerate.</div>

        <div>2. When it’s lunch time, pour it all into a bowl, and enjoy!</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2013/01/31/clean-spinach-salad-with-steak-balsamic-and-crumbly-blue-cheese/ target="_blank">
          Clean Spinach Salad with Steak, Balsamic, and Crumbly Blue Cheese
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>1lb sirloin steak, sliced into bite size pieces</div>

        <div>Salt and pepper</div>

        <div>4 cups baby spinach</div>

        <div>½ red onion, sliced</div>

        <div>4 small roma tomatoes, cut into quarters</div>

        <div>¼ cup crumbled blue cheese</div>

        <div>1 teaspoon + 1 tablespoon olive oil</div>

        <div>1 tablespoon balsamic</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Heat 1 teaspoon of olive oil in a large sauté pan. Add steak and season to taste with salt and pepper. Cook until steak is medium to medium well or whatever your temperature preference is. Remove from heat and set aside.</div>

        <div>2. In a large salad bowl add baby spinach, onion, blue cheese, 1 tablespoon of olive oil, and balsamic vinegar. Toss until salad is completely mixed and coated with dressing. If you need more dressing add a little more olive oil and balsamic vinegar to taste. Divide among 4 plates and enjoy.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2011/05/03/big-skinny-greek-salad/ target="_blank">
          Big Skinny Greek Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>2 cups romaine lettuce</div>

        <div>1 cup baby spinach</div>

        <div>2 tablespoons Newman&#39;s Own Olive Oil and Vinegar dressing</div>

        <div>6 black olives</div>

        <div>2 mini cucumbers, sliced</div>

        <div>3 slices red onion separated into rings</div>

        <div>2 tablespoons feta cheese</div>

        <div>3 grilled chicken tenderloins marinated in 1 tablespoon of Newman&#39;s Own Olive Oil and Vinegar dressing</div>

        <div>1 pita, toasted and cut in half</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Place first 7 ingredients in medium to large bowl and mix well. Place onto large plate.</div>

        <div>2. Place grilled chicken on top and toasted pita to the side.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2012/12/11/basic-chicken-salad/ target="_blank">
          Basic Chicken Salad
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>¼ cup plain greek yogurt</div>

        <div>3 tablespoons mayonaise</div>

        <div>1 tablespoon cider vinegar</div>

        <div>2 teaspoon dijon mustard</div>

        <div>⅛ teaspoon salt</div>

        <div>14 teaspoon pepper</div>

        <div>¼ onion powder</div>

        <div>2 cups shredded chicken (you can use chopped chicken)</div>

        <div>2 celery stalked sliced</div>

        <div>sliced almonds</div>

        <div>romaine leaves</div>

        <div>sliced tomato</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. In a medium bowl stir together Greek yogurt, mayonnaise, cider vinegar, Dijon mustard, salt, pepper, and onion powder.</div>

        <div>2. Stir in chicken and celery. Refrigerate for a couple hours or overnight.</div>

        <div>3. Divide between romaine leaves and serve with almonds sprinkled on top and tomato slices on the side. This also taste great as a wrap.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2012/06/24/creamy-balsamic-vinegar-dressing/ target="_blank">
          Creamy Balsamic Vinegar Dressing
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>½ cup extra virgin olive oil</div>

        <div>¼ cup balsamic vinegar</div>

        <div>1 clove garlic, grated or finely minced</div>

        <div>3 tablespoons pure maple syrup</div>

        <div>¼ teaspoon kosher salt</div>

        <div>¼ teaspoon freshly ground black pepper</div>

        <div>3 tablespoons plain Greek yogurt (I used Chobani)</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Combine all the ingredients into a large mixing bowl and whisk vigorously until it is all blended. Store in airtight container in the refrigerator.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2013/04/08/mason-jar-salad-recipe-fresh-mozzarella-tomato-pasta-and-spinach/ target="_blank">
          Mason Jar Salad Recipe: Fresh Mozzarella, Tomato, Pasta, and Spinach
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>10 tablespoons balsamic vinegar dressing (I use Newmans own brand)</div>

        <div>1 quart grape tomatoes</div>

        <div>10 ounces fresh mozzarella</div>

        <div>2 cups dry whole grain pasta, cooked</div>

        <div>10 cups baby spinach</div>

        <div>5 quart size mason jar salads</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Divide ingredients evenly in mason jars starting with dressing, then tomatoes, mozzarella, pasta, and ending with spinach. Place lid on jar and close tight.</div>

        <div>2. Shake jar to coat dressing and pour into bowl to eat.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2017/09/15/healthy-slow-cooker-chicken-teriyaki-recipe/ target="_blank">
          Slow Cooker Chicken Teriyaki
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>2 lbs boneless skinless chicken thighs</div>

        <div>½ cup soy sauce</div>

        <div>⅓ cup honey</div>

        <div>3 tablespoons rice vinegar</div>

        <div>1 tablespoon sesame oil</div>

        <div>3 cloves garlic, grated</div>

        <div>1 tablespoon peeled and grated ginger root</div>

        <div>1 teaspoon onion powder</div>

        <div>½ teaspoon red pepper flakes</div>

        <div>1½ tablespoons cornstarch</div>

        <div>¼ cup water</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. Place the chicken thighs in the bottom of the slow cooker insert.</div>

        <div>2. Mix together the soy sauce, honey, rice vinegar, sesame oil, garlic, ginger root, onion powder, and red pepper flakes.</div>

        <div>3. Pour over the chicken.</div>

        <div>4. Cover and then set the slow cooker to cook on high 2-3 hours or low 4-6 hours.</div>

        <div>5. Remove chicken from the slow cooker, place into a bowl, and shred.</div>

        <div>6. In a small bowl mix together the cornstarch and water to create a slurry.</div>

        <div>7. Pour the sauce into a sauce pan and whisk in the slurry. Cook over medium heat for about 3 -5 minutes or until the sauce thickens up. Please note the sauce will thicken as it sits.</div>

        <div>8. Mix half the sauce into the chicken and put the rest on the side for extra sauce if needed.</div>

      </div>
    </div>

    <div class="recipe">

      <div>
        <h2>
        <a href=https://www.organizeyourselfskinny.com/2017/09/14/healthy-salted-dark-chocolate-almond-no-bake-energy-bite-recipe/ target="_blank">
          Salted Dark Chocolate &amp; Almond No-bake Energy Bite
        </a>
        </h2>
        <div><b>Category: </b> salads-and-dressings</div>
      </div>

      <div>
        <h3>Ingredients</h3>

        <div>1 cup rolled oats</div>

        <div>¼ ground flax</div>

        <div>1 tablespoon chia seeds</div>

        <div>½ teaspoon sea salt</div>

        <div>½ cup chopped almonds</div>

        <div>¼ cup dark chocolate chips chopped</div>

        <div>½ cup almond butter</div>

        <div>⅓ cup pure maple syrup</div>

        <div>1 tablespoon metled coconut oil</div>

        <div>1 teaspoon pure vanilla extract</div>

      </div>

      <div>
        <h3>Instructions</h3>

        <div>1. In a medium bowl mix together all of the ingredients.</div>

        <div>2. Cover the bowl and let the energy bite mixture sit in the refrigerator 1-2 hours or until the oats have soaked up some of the liquid and the mixture has firmed up.</div>

        <div>3. Roll the mixture into 20 balls using a small cooking scoop. Most likely, you&#39;ll need water near by to wet your hands while rolling the bites.</div>

        <div>4. Place the bites into the refrigerator using an air-tight container and let them sit for a day.</div>

        <div>5. Enjoy</div>

      </div>
    </div>

  </div>

        </div>
    </body>
</html>
