// Colors

.green {
  color: #3c763d;
}

.background-green {
  background: #dff0d8;
}

.blue {
  color: #337ab7;
}

.background-blue {
  background: #d9edf7;
}

.red {
  color: #a94442;
}

.background-red {
  background: #f2dede;
}

.yellow {
  color: #8a6d3b;
}

.background-yellow {
  background: #fcf8e3;
}
