{% from 'partials/_transactions.html' import render_transactions %}

{% extends "base.html" %}

{% block content %}

{% for bank, accounts in bank_to_accounts.items() %}

<div>
<h2>{{ bank.name }}</h2>

{% for account in accounts %}
<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">
      <span>{{ account.name }}</span>
      {% if account.balance > 0 %}
        <span style="float:right" class="green">
      {% elif account.balance < 0 %}
        <span style="float:right" class="red">
      {% else %}
        <span style="float:right">
      {% endif %}
          {{ account.balance }}
        </span>
    </h3>
  </div>

  {{ render_transactions(account.transactions) }}

</div>
{% endfor %}

</div>

{% endfor %}

{% endblock %}
