{% from 'partials/_report_header.html' import render_report_header %}
{% from 'partials/_l1_node.html' import render_l1_node %}

{% extends "base.html" %}

{% block content %}

{% for monthly_report in monthly_reports %}
<div><!-- Header + Labels -->
  <div>
    {{ render_report_header(monthly_report) }}
  </div>
  <h3 style="text-align: right;"><!-- Labels -->
    <label>Earned: </label>
    <label class="label label-success">${{ monthly_report.total_earned }}</label>
    <label>Saved: </label>
    {% if monthly_report %}
      {% if monthly_report.total_saved > 0 %}
        <label class="label label-success">${{ monthly_report.total_saved }}</label>
      {% else %}
        <label class="label label-danger">${{ monthly_report.total_saved }}</label>
      {% endif %}
    {% endif %}
  </h3><!-- Labels -->
</div><!-- End Header + Labels -->

<div class="container">
  <div class="col-md-6">
    {% for key in ['INCOME', 'SUBSCRIPTIONS', 'SKIPPED'] %}
      {% if monthly_report.data.get(key) %}
        <h2>{{ key.title() }}</h2>
        {{ render_l1_node(monthly_report.data[key]) }}
      {% endif %}
    {% endfor %}
  </div>

  <div class="col-md-6">
    {% for key in ['EXPENSES', ''] %}
      {% if monthly_report.data.get(key) %}
        <h2>{{ key.title() }}</h2>
        {{ render_l1_node(monthly_report.data[key]) }}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endfor %}
{% endblock %}
