{% from 'partials/_report_header.html' import render_report_header %}
{% from 'partials/_monthly_report.html' import render_monthly_report %}

{% extends "base.html" %}

{% block content %}

{% for monthly_report in monthly_reports %}
<div class="card overview">
  {{ render_report_header(monthly_report) }}

  <div class="summary">
    <p class="summary">
      <span>Earned: </span>
      <span class="green">${{ monthly_report.total_earned }}</span>
    </p>
    <p class="summary">
      <span>Spent: </span>
      <span class="red">${{ monthly_report.total_spent }}</span>
    </p>
    <p class="summary">
      <span>Saved: </span>
      {% if monthly_report %}
        {% if monthly_report.total_saved > 0 %}
          <span class="green">${{ monthly_report.total_saved }}</span>
        {% else %}
          <span class="red">${{ monthly_report.total_saved }}</span>
        {% endif %}
      {% endif %}
    </p>
  </div>

  <div class="section left">
  {% for report in monthly_report.reports %}
      {% if report and report.data and report.header != "Expenses" %}
        {{ render_monthly_report(report) }}
      {% endif %}
  {% endfor %}
  </div>

  <div class="section right">
  {% for report in monthly_report.reports %}
      {% if report and report.data and report.header == "Expenses" %}
        {{ render_monthly_report(report) }}
      {% endif %}
  {% endfor %}
  </div>

</div>
{% endfor %}

{% endblock %}
