{% from 'partials/_transactions.html' import render_transactions %}
{% from 'partials/_report_header.html' import render_report_header %}

{% extends "base.html" %}

{% block content %}
<style>

.header {
  background: cornflowerblue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.green {
  color: darkgreen;
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}


form {
  font-size: 18px;
}

.card {
  width: 45%;
  min-height: 200px;
  background: lavender;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 10px;
}

.month {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
    color: #2196F3;
}

p.summary {
    font-size: 24px;
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 2px;
    background: white;
}

h2.l1 {
    font-weight: 500;
    font-size: 32px;
}

h2.l2 {
    font-weight: 500;
    margin: 0;
}

h2.l3 {
    font-weight: 100;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 18px;
}

.group {
    background: white;
    padding: 10px 20px;
    margin: 20px 0;
}


</style>
{% for monthly_report in monthly_reports %}
<div class="card overview">
  {{ render_report_header(monthly_report) }}

  <div class="summary">
    <p class="summary">
      <span>Earned: </span>
      <span class="green">${{ monthly_report.total_earned }}</span>
    </p>
    <p class="summary">
      <span>Spent: </span>
      <span class="red">${{ monthly_report.total_spent }}</span>
    </p>
    <p class="summary">
      <span>Saved: </span>
      {% if monthly_report %}
        {% if monthly_report.total_saved > 0 %}
          <span class="green">${{ monthly_report.total_saved }}</span>
        {% else %}
          <span class="red">${{ monthly_report.total_saved }}</span>
        {% endif %}
      {% endif %}
    </p>
  </div>

  {% for report in monthly_report.reports %}
    {% if report and report.data %}
    <div class="group">
      <h2 class="l1">
        <span>{{ report.header }}: </span>
        <span>{{ report.data.total }}</span>
      </h2>


      {% for l2, l2_report in report.data.categories.items() %}

        {% if l2_report.name == "Expenses" %}
          <h2 class="l2">{{ l2 }}: {{ l2_report.total }} </h2>
        {% endif %}

        {% for l3, l3_report in l2_report.categories.items() %}
          {% if l2.name != "Other" and l2.name != "Skipped" %}
            <h2 class="l3">{{ l3 }}: {{ l3_report.total }} </h2>
          {% endif %}

          {{ render_transactions(l3_report.transactions) }}

        {% endfor %}
      {% endfor %}

    </div>
    {% endif %}
  {% endfor %}
</div>
{% endfor %}

{% endblock %}
