{% extends "base.html" %}

{% block content %}
<style>
td {
  padding: 5px;
  font-family: helvetica;
  font-size: 14px;
}

.header {
  background: cornflowerblue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

</style>

  <table>
    <tr>
      <td class="header">Date</td>
      <td class="header">Description</td>
      <td class="header">Amount</td>
      <td class="header">Type</td>
    <tr>
    {% for transaction in transactions %}
    <tr>
      <td>{{ transaction.date }}</td>
      <td>{{ transaction.description }}</td>
      <td>${{ transaction.amount }}</td>
      <td>{{ transaction.type }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
